<section class="show-content">
	<div id="alpha">
		<aside>
			<% if @cheese.cheeseimg_file_name == nil %>
			<% else %>
				<%= image_tag @cheese.cheeseimg.url(:medium) %>
			<% end %>
		</aside>

		<article class="type-system-slab">
			<h1><%= @cheese.name %></h1>
			<ul>
				<li>Producer: <%= @cheese.producer %></li>
				<li>Milk: <%= @cheese.milk %></li>
				<li>Country: <%= @cheese.country %></li>
				<% if @cheese.region %>
					<li>State/Region: <%= @cheese.region %></li>
				<% end %>
				<li>Rind: <%= @cheese.rind %></li>
				<li>Rennet: <%= @cheese.rennet %></li>
				<li>Age: <%= @cheese.age %></li>
		  </ul>
			<p><h3>Description </h3><span><%= @cheese.description %></span></p>
		<article>
	</div>
</section>

  <hr>
<div class="buttons-centered">
  <div><%= button_to "Edit Cheese", edit_cheese_path(@cheese), method: :get %></div>

  <div><%= button_to "Delete Cheese", cheese_path(@cheese), method: :delete,
    data: { confirm: "Are you sure you want to delete?" } %></div>
</div>
